body {
    color: var(--color-900);
    background: var(--color-100);
    font-family: var(--primary-font);
    -webkit-font-smoothing: antialiased;
    // font-size: clamp(14px, 10px + 1vmin, 16px);
    font-size: 14px;
    line-height: 1.2;
}
