:root {
  --grid-column-amount: 4;
  --aside-section-width: 266px;
  --border-radius: 12px;
  --border-radius-2: 16px;
  --max-width: 1300px;
  // --color-primary: #2563eb;
  --color-primary: #009a96;
  --color-primary-acc1: #3b82f6;
  --color-primary-acc2: #60a5fa;
  --color-primary-acc3: #bfdbfe;
  --color-primary-acc4: #dbeafe;
  --color-white: #ffffff;
  --color-gray: #777d89;
  --color-50: #f9f9f9;
  --color-100: #f8f8f8;
  --color-200: #ededed;
  --color-300: #e2e2e2;
  --color-400: #b8b8b8;
  --color-500: #8b8b8b;
  --color-600: #696969;
  --color-700: #545454;
  --color-800: #393939;
  --color-900: #232323;
  --color-success: #22c55e;
  --color-success-acc1: #16a34a;
  --color-success-acc2: #4ade80;
  --color-error: #f75555;
  --color-error-acc1: #ef4444;
  --color-error-acc2: #fca5a5;
  --color-warning: #facc15;
  --color-warning-acc1: #eab308;
  --color-warning-acc2: #fde047;
  --color-bg-1: #ffffff;
  --color-bg-2: #fff4f1;
  --primary-font: 'SF Pro Display', sans-serif;
  scroll-behavior: smooth;
}
